<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd  
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd  
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">  
  
    <bean id="sender"  class="org.springframework.mail.javamail.JavaMailSenderImpl">  
        <property name="host" value="smtp.gmail.com" />  
        <property name="username" value="******" /><!-- 这个地方输入的是你的邮件地址 -->  
        <property name="password" value="***" />  
        <property name="javaMailProperties">  
            <props>  
                <prop key="mail.smtp.auth">true</prop>  
                <prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>  <!-- gmail类加密协议 ssl 属性的发送 -->
                <prop key="mail.smtp.socketFactory.fallback">false</prop>  
                <prop key="mail.smtp.socketFactory.port">465</prop>  <!-- gmail商用端口 -->
            </props>  
        </property>  
    </bean>  
    
    <!-- 定义自定义的类进行数据的注入 -->  
    <bean id="freeMarkService" class="me.tspace.email.service.impl.FreemarkerServiceImpl">  
        <property name="sender" ref="sender" />  
        <property name="freeMarkerConfigurer"  ref="freeMarkerConfigurer" />  
    </bean>  
    
    <!-- 配置freeMarkerConfigurer进行属性值的注入 -->  
    <bean id="freeMarkerConfigurer" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">  
<!--  放在源代码下的路径     <property name="templateLoaderPaths"  value="classpath:mailTemplate" />   --> 
			<property name="templateLoaderPaths"  value="WEB-INF/views/email/mailTemplate" />    
		    <property name="freemarkerSettings">  
            <props>  
                <prop key="template_update_delay">1800</prop><!-- 模板更新延时 -->  
                <prop key="default_encoding">UTF-8</prop>  
                <prop key="locale">zh_CN</prop>  
            </props>  
        </property>  
        <property name="freemarkerVariables">  
            <map>  
                <entry key="xml_escape" value-ref="fmXmlEscape" />  
            </map>  
        </property>  
    </bean>  
    
    <bean id="fmXmlEscape" class="freemarker.template.utility.XmlEscape"/>  
    
</beans> 