<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="    
        http://www.springframework.org/schema/beans    
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd    
        http://www.springframework.org/schema/context    
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/tx
     	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        ">

   <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">  
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />  
        <property name="url" value="jdbc:mysql://localhost:3306/mypm" />  
        <property name="username" value="mydev" />  
        <property name="password" value="111111" />  
        <property name="maxActive" value="100" />  
        <property name="maxIdle" value="5" />  
        <property name="minEvictableIdleTimeMillis" value="300000" />  
        <property name="timeBetweenEvictionRunsMillis" value="120000" />  
    </bean>  
		
	<bean  class="org.springframework.jdbc.core.JdbcTemplate"   p:dataSource-ref="dataSource" />  


	<!-- 启动注解驱动的Spring MVC功能，注册请求url和注解POJO类方法的映射-->
     <mvc:annotation-driven />

	<!-- 默认扫描的包路径 -->
	<context:component-scan base-package="me.tspace.pm.controller" />
	<context:component-scan base-package="me.tspace.pm.service.impl" />
	<context:component-scan base-package="me.tspace.pm.dao.impl" />

	<!-- 模型视图名称的解析，即模型前后添加前后缀 -->
	 <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/" p:suffix=".jsp" />

	<!-- 添加事物处理Bean -->
	<bean id="transactionManager"  class="org.springframework.jdbc.datasource.DataSourceTransactionManager"  p:dataSource-ref="dataSource" />  
	<tx:annotation-driven   transaction-manager="transactionManager" />  
	
	<!-- Mybatis sessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
    	<property name="configLocation" value="classpath:mybatisConfig.xml" />  
    	<property name="dataSource" ref="dataSource" />  
	</bean>  
	
	<!-- Mybatis 的mapper扫描 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">  
    	<property name="annotationClass" value="org.springframework.stereotype.Repository"/>  
    	<property name="basePackage" value="me.tspace.pm.dao"/>  
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>  
	</bean> 
	

</beans>   